In [35]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [12]:
help(Measurement)

Help on class measurement in module sqlalchemy.ext.automap:

class measurement(Base)
 |  measurement(**kwargs)
 |
 |  Method resolution order:
 |      measurement
 |      Base
 |      AutomapBase
 |      sqlalchemy.orm.decl_api.Base
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, **kwargs)
 |      A simple constructor that allows initialization from kwargs.
 |
 |      Sets attributes on the constructed instance using the names and
 |      values in ``kwargs``.
 |
 |      Only keys that are present as
 |      attributes of the instance's class are allowed. These could be,
 |      for example, any mapped columns or relationships.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  date
 |
 |  id
 |
 |  prcp
 |
 |  station
 |
 |  tobs
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __mapper__ = <Mapper at 0x7fb8e0f3ca90; measurement>
 |
 |  __table__ = Table('measurement', MetaData(), Column('id', IN...obs', F...
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from Base:
 |
 |  __abstract__ = True
 |
 |  classes = <sqlalchemy.util._collections.Properties object>
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from AutomapBase:
 |
 |  prepare(autoload_with=None, engine=None, reflect=False, schema=None, classname_for_table=None, collection_class=None, name_for_scalar_relationship=None, name_for_collection_relationship=None, generate_relationship=None, reflection_options=immutabledict({})) from sqlalchemy.orm.decl_api.DeclarativeMeta
 |      Extract mapped classes and relationships from the
 |      :class:`_schema.MetaData` and
 |      perform mappings.
 |
 |      :param engine: an :class:`_engine.Engine` or
 |       :class:`_engine.Connection` with which
 |       to perform schema reflection, if specified.
 |       If the :paramref:`.AutomapBase.prepare.reflect` argument is False,
 |       this object is not used.
 |
 |       .. deprecated:: 1.4 The :paramref:`_automap.AutomapBase.prepare.engine` parameter is deprecated and will be removed in a future release.  Please use the :paramref:`_automap.AutomapBase.prepare.autoload_with` parameter.
 |
 |
 |
 |      :param reflect: if True, the :meth:`_schema.MetaData.reflect`
 |       method is called
 |       on the :class:`_schema.MetaData` associated with this
 |       :class:`.AutomapBase`.
 |       The :class:`_engine.Engine` passed via
 |       :paramref:`.AutomapBase.prepare.engine` will be used to perform the
 |       reflection if present; else, the :class:`_schema.MetaData`
 |       should already be
 |       bound to some engine else the operation will fail.
 |
 |       .. deprecated:: 1.4 The :paramref:`_automap.AutomapBase.prepare.reflect` parameter is deprecated and will be removed in a future release.  Reflection is enabled when :paramref:`_automap.AutomapBase.prepare.autoload_with` is passed.
 |
 |
 |
 |      :param classname_for_table: callable function which will be used to
 |       produce new class names, given a table name.  Defaults to
 |       :func:`.classname_for_table`.
 |
 |      :param name_for_scalar_relationship: callable function which will be
 |       used to produce relationship names for scalar relationships.  Defaults
 |       to :func:`.name_for_scalar_relationship`.
 |
 |      :param name_for_collection_relationship: callable function which will
 |       be used to produce relationship names for collection-oriented
 |       relationships.  Defaults to :func:`.name_for_collection_relationship`.
 |
 |      :param generate_relationship: callable function which will be used to
 |       actually generate :func:`_orm.relationship` and :func:`.backref`
 |       constructs.  Defaults to :func:`.generate_relationship`.
 |
 |      :param collection_class: the Python collection class that will be used
 |       when a new :func:`_orm.relationship`
 |       object is created that represents a
 |       collection.  Defaults to ``list``.
 |
 |      :param schema: When present in conjunction with the
 |       :paramref:`.AutomapBase.prepare.reflect` flag, is passed to
 |       :meth:`_schema.MetaData.reflect`
 |       to indicate the primary schema where tables
 |       should be reflected from.  When omitted, the default schema in use
 |       by the database connection is used.
 |
 |       .. versionadded:: 1.1
 |
 |      :param reflection_options: When present, this dictionary of options
 |       will be passed to :meth:`_schema.MetaData.reflect`
 |       to supply general reflection-specific options like ``only`` and/or
 |       dialect-specific options like ``oracle_resolve_synonyms``.
 |
 |       .. versionadded:: 1.4
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from AutomapBase:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from sqlalchemy.orm.decl_api.Base:
 |
 |  metadata = MetaData()
 |
 |  registry = <sqlalchemy.orm.decl_api.registry object>

In [20]:
Measurement.date

## D1: Determine the Summary Statistics for June

In [31]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 6)
results

In [32]:
#  3. Convert the June temperatures to a list.
results = [i[0] for i in results]
#results

In [36]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
junet_df = pd.DataFrame(results)

In [49]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_summary = junet_df.describe()
june_summary.columns = ['June Temps']
june_summary

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [40]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 12)

In [41]:
# 7. Convert the December temperatures to a list.
results = [i[0] for i in results]

In [42]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
results = pd.DataFrame(results)

In [50]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_summary = results.describe()
dec_summary.columns = ['December Temps']
dec_summary

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000